extends layout
block content
    .book1-img
        img(class="item" src="https://upload.wikimedia.org/wikipedia/en/6/65/ThingsFallApart.jpg")
    .book1-content
        p <strong>Id:</strong> #{id}
        p <strong>Author:</strong> #{author}
        p <strong>Country:</strong> #{country}
        p <strong>Link:</strong> 
            a(href=link) #{link}
        p <strong>Pages:</strong> #{pages}
        p <strong>Title:</strong> #{title}
        p <strong>Year:</strong> #{year}
