extends layout.pug 
block content
        .books_search_tool
            .books_search
                input(type="text" placeholder="Search.." class="books_input")
            button(class="books_submit") Search
        .books_sort
            button('onclick'="myFunction()" class="books_dropbtn") Dropdown
            #books_myDropdown.books_myDropdown
                a(href="#") From A to Z
                a(href="#") From Z to A
        .books_content
            - for(var i=0; i<10; i++){
                a(href= "/"+ data[i]['_id'])
                    .books_book
                        .books_ima
                            img(src="")
                        .books_desc
                            p Title:  #{data[i]['title']} 
                            p Author: #{data[i]['author']}
                            
            -} 
            
                
            
            
        
            
              
            //- a(href="#")
            //-     .books_book
            //-         .books_ima
            //-              img(src="")
            //-         .books_desc
            //-             p Name: #{name2} 
            //-             p Author: #{author2}
            //- a(href="#")
            //-     .books_book
            //-         .books_ima
            //-              img(src="")
            //-         .books_desc
            //-             p Name: #{name3} 
            //-             p Author: #{author3}
            //- a(href="#")
            //-     .books_book
            //-         .books_ima
            //-              img(src="")
            //-         .books_desc
            //-             p Name: #{name4} 
            //-             p Author: #{author4}
            //- a(href="#")
            //-     .books_book
            //-         .books_ima
            //-              img(src="")
            //-         .books_desc
            //-             p Name: #{name5} 
            //-             p Author: #{author5}
            //- a(href="#")
            //-     .books_book
            //-         .books_ima
            //-              img(src="")
            //-         .books_desc
            //-             p Name: #{name6} 
            //-             p Author:#{author6}
            //- a(href="#")
            //-     .books_book
            //-         .books_ima
            //-              img(src="")
            //-         .books_desc
            //-             p Name: #{name7} 
            //-             p Author:#{author7}
            //- a(href="#")
            //-     .books_book
            //-         .books_ima
            //-              img(src="")
            //-         .books_desc
            //-             p Name: #{name8} 
            //-             p Author: #{author8}
            //- a(href="#")
            //-     .books_book
            //-         .books_ima
            //-              img(src="")
            //-         .books_desc
            //-             p Name: 
            //-             p Author:
            //- a(href="#")
            //-     .books_book
            //-         .books_ima
            //-              img(src="")
            //-         .books_desc
            //-             p Name: 
            //-             p Author:
            
        .books_buttonnext
            button(class="books_next") Next
        
        script.
            function myFunction() {
                document.getElementById("books_myDropdown").classList.toggle("show");
            }